@import url(https://fonts.googleapis.com/css?family=Overlock+SC);

html {
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Overlock SC', cursive;
}

.avatar {
    width: 15vw;
    margin-top: 10vh;
    margin-left: 3.6vw;
    float: left;
}
.dlCV {
    background-color: black;
    color: white;
    padding: 5px;
    margin-left: 45%;
}

.headerPage {
    height: 100vh;
    position: absolute;
    top: 0;
}

.backgroundFront {
    background: url(../images/backgroundHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: right;
}

.backgroundBack {
    width: 100%;
    height: 100vh;
    float: left;
    -webkit-filter: drop-shadow(15px 0px 15px black);
    filter: drop-shadow(5px 5px 5px black);
    z-index: 0;
}

h1 {
    color: #cccccc; /* Old browsers */
    color: -moz-linear-gradient(top,  #cccccc 0%, #ffffff 100%); /* FF3.6-15 */
    color: -webkit-linear-gradient(top,  #cccccc 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    color: linear-gradient(to bottom,  #cccccc 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    margin: 0;
}

section {
    height: 100vh;
    box-sizing: border-box;
}

.logoHeader {
    float: left;
    margin: 10vh 0 0 10vw;
}

.sectionPropos {
    width: 100%;
    overflow: hidden;
    height: 90vh;
}

#competences {
    padding: 15vh 0 10vh 18vw;
}

#contact {
    padding: 15vh 0 10vh 18vw;
}

.sectionCompetences,
.sectionContact {
    background-color: #000000;
    color: white;
}

.nom {
    font-size: 60pt;
    margin: 13vh 0 0 40vh;
    width: 400px;
    text-transform: uppercase;
}

.prenom {
    font-size: 60pt;
    margin: 0 0 0 51vh;
    width: 400px;
    text-transform: uppercase;
}

.metier {
    width: 60vw;
    font-size: 80pt;
    margin: 30vh 0 0 0;
    text-align: center;
    text-transform: uppercase;
}

.headerIconGroup {
    width: 60vw;
    text-align: center;
}

.iconeHeader {
    transition: all .3s ease-in-out;
    width: 90px;
    height: 70px;
}
.iconeHeader:hover {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform:scale(1.4); /* Safari and Chrome */
    -moz-transform:scale(1.4); /* Firefox */
    -ms-transform:scale(1.4); /* IE 9 */
    -o-transform:scale(1.4); /* Opera */
    transform:scale(1.4);
}

.iconeHeader {
    margin: 5vh 2vw 1vh 2vw;
}

h2 {
    font-size: 16pt;
    font-weight: bold;
    padding: 5vh 0 5vh 18vw;
    text-transform: capitalize;
}

#aPropos {
    padding: 0 0 5vh 18vw;
}

.description {
    padding: 15vh 25vw 5vh 25vw;
}

.menu {
    background-color: rgba(0, 0, 0, 0.9);
    height: 5vh;
}

.logoMenu {
    background-image: url(../images/hexaBackMenu.png);
    margin-left: 6vw;
    float: left;
    margin-top: -6vh;
    position: relative;
}

li {
    list-style: none;
    float: left;
    line-height: 50px;
}

li .menu__link {
    text-decoration: none;
    color: #cccccc; /* Old browsers */
    color: -moz-linear-gradient(top,  #cccccc 0%, #ffffff 100%); /* FF3.6-15 */
    color: -webkit-linear-gradient(top,  #cccccc 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    color: linear-gradient(to bottom,  #cccccc 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

hr {
    border: 0px solid transparent;
}

.clearfix {
    display: block;
    clear: both;
    content: "";
}

.col2 p {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

.competenceAndBarre {
    width: 80%;
    margin: auto;
    padding: 2vh 0 20vh 0;
}

.barreCompetence {
    display: inline-block;
}

.barre {
    background-color: white;
    height: 2vh;
    width: calc( (100% - 90px ) / 10 );
    float: left;
    border-right: 10px solid black;
}

.barre:nth-child(1) {
    border-radius: 40% 0 0 40%;
}

.barre:nth-child(10) {
    border-radius: 0 40% 40% 0;
    border-right: none;
}


/* Common styles for all menus */
.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

/* Ferdinand */
.menu--ferdinand .menu__link {
	position: relative;
	display: block;
	margin: 0 1.5em;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: background 0.3s, color 0.3s;
	transition: background 0.3s, color 0.3s;
}

.menu--ferdinand .menu__link:hover,
.menu--ferdinand .menu__link:focus {
	color: #929292;
}

.menu--ferdinand .menu__item--current .menu__link {
	color: aliceblue;
}

.menu--ferdinand .menu__link::before {
	content: '';
	position: absolute;
    top: 3.5vh;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: aliceblue;
	-webkit-transform: scale3d(0, 5, 1);
	transform: scale3d(0, 5, 1);
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
	transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}

.menu--ferdinand .menu__item--current .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

#hexGrid {
    margin: auto;
    width: 60vw;
}

#portfolio {
    padding: 15vh 0 5vh 18vw;
}

#bouton {
    margin-top: 5%;
    margin-left: 42%;
    list-style: none;
}

#bouton li {
    margin-left: 2%;
    padding: 5px;
    list-style:none;
    display:inline-block;
}

#bouton li a {
    cursor: pointer;
    color:black;
    display:block;
    border:2px solid;
    height:10px;
    width:10px;
    line-height:0;
    margin:0 3px;
    transform: rotate(-45deg);  
    transition: all 0.3s ease;  
}

#bouton li a:hover {
    background: black;
}

#bouton li .activebouton {
    transform: rotate(0);
    background: black;
}

.formulaire {
    width: 100vw;
    height: 80vh;
}

.formulaire div {
    display: block;
}
.formulaire label {
    margin: 0 0 5vh 20vw;
    width: 10%;
    display: inline-block;
}

.formulaire div input {
    color: black;
    padding: 5px;
    width: 30vw;
    margin: 0 0 5vh 0;
}

.formulaire .message {
    float: left;
}

.formulaire textarea {
    color: black;
    width: 50vw;
    max-height: 10vh;
    height: 10vh;
    max-width: 50vw;
}

.envoyer {
    color: black;
    padding: 5px;
    margin-top: 5vh;
}